* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.titulo h1 {
    text-align: center;
    padding: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: rgba(179, 10, 10, 0.3);
}